<div class="container my-5">
    <div *ngIf="authService.error">
        <p class="text-center "><span class="alert alert-danger animated bounceIn">{{authService.error}}</span></p>
    </div>

    <p class="text-center" id="shows">
      <span class="alert alert-success animated bounceIn">
     Por favor, verifica a sua caixa de entrada, enviamos um email.
    </span>
  </p>
<div class="row justify-content-center">
   
    <form (ngSubmit)="login(loginForm.value)" [formGroup]="loginForm" class="text-center shadow-5 z-depth-5  border border-light p-5">
        <p>Criar conta sem a Senha</p>
      <div class="form-row">
          <div class="form-group col-lg-12">
              <input type="email" name="email" formControlName="email" class="form-control mb-4" placeholder="Email">
          </div>
        </div>
      
    
      <input type="submit" [disabled]="!loginForm.valid" class="btn btn-primary" value="Criar conta">
      <div class="container footer pt-3 lighten-3">
          <div class="row mt-2 mb-3 d-flex justify-content-center">
              
              
              <a routerLink="/" class="fa-lg p-2 m-2 tw-ic dark-text">Voltar</a>
              
            </div>
      </div>
    </form> 
    
    
</div>
</div>